.start-recipe {
  bottom: 0;
  margin-left: 50%;
  position: fixed;
  z-index: 1;
}

.carousel {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 200%;
  margin-bottom: 100px;
  margin-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.MealsImg {
  height: 200px;
  width: 300px;
}

.footer {
  bottom: 0;
  margin-left: 600px;
  position: fixed;
  width: 100%;
}

.imagem {
  flex-direction: row;
  width: 50px;
}